import React from 'react';
import PropTypes from 'prop-types';

import styles from "./{{kebabCase name}}.module.scss"

const {{pascalCase name}} = (props) => {
    return (
        <div>
            {{pascalCase name}}
        </div>
    );
}

{{pascalCase name}}.propTypes = {};

export default {{pascalCase name}}